<header class="header header-sticky mb-4 non-printable">
    <div class="container-fluid non-printable">
        <button class="header-toggler px-md-0 me-md-3 non-printable" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
                <use xlink:href="/vendors/coreui/icons/svg/free.svg#cil-menu"></use>
            </svg>
        </button>
        <ul class="header-nav d-none d-md-flex">
        </ul>
        <ul class="header-nav ms-auto">
        </ul>
        <ul class="header-nav ms-3">
            
        </ul>
    </div>
    
    
</header>